<app-page-header [title]="'ARTICLES'" 
                 [showBack]="false"
                 [icons]="header">
</app-page-header>

<ion-content force-overscroll="false">
  <ng-container *ngIf="(articles$ | async) as articles; else noArticles">
      <app-article-card *ngFor="let a of articles; let i = index" 
                        [article]="a"
                        [index]="i"
                        [dark]="isDark">
      </app-article-card>
      
      <ion-infinite-scroll threshold="69px" (ionInfinite)="load($event)">
        <ion-infinite-scroll-content
          loadingSpinner="circles"
          [loadingText]="'LOADING' | translate">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </ng-container>

  <ng-template #noArticles>
    <div class="no-content">
      {{'NO.CONTENT' | translate}}
    </div>
  </ng-template>
</ion-content>