<app-page-header [title]="'USERS' | translate"
                 [showBack]="true">
</app-page-header>


<ion-content force-overscroll="false" class="ion-padding">
  <ion-searchbar debounce="500"
                mode="ios"
                [placeholder]="'SEARCH.USERS' | translate"
                showCancelButton="never"
                inputmode="text"
                type="text"
                class="search-user"
                (ionChange)="search($event)">
  </ion-searchbar>

  <ng-container *ngIf="(filtered$ | async) as users">
    <ion-virtual-scroll [items]="users" approxItemHeight="45px">
      <ion-item detail *virtualItem="let user"
                lines="none"
                [routerLink]="'/public/' + user.name">
      <app-user-avatar [user]="user"></app-user-avatar>
      <ion-label>{{user.name | titlecase}}</ion-label>
    </ion-item>
    </ion-virtual-scroll>
  </ng-container>

</ion-content>