<app-page-header [title]="'SHOWCASE'" 
                 [showBack]="false">
</app-page-header>

<ion-content>
  <ng-container *ngIf="(articles$ | async) as articles">
    <ng-container *ngIf="articles.length > 0; else noArticles">
      <ion-grid class="articles-grid">
        <ion-row>
          <ion-col size="12" size-md="6"
                  *ngFor="let a of articles; let i = index">
            <app-article-card [article]="a"
                              [index]="i"
                              [dark]="isDark"
                              [public]="true">
            </app-article-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-infinite-scroll [disabled]="disabled" 
                           threshold="69px" 
                           (ionInfinite)="load($event)">
        <ion-infinite-scroll-content
          loadingSpinner="circles"
          [loadingText]="'LOADING' | translate">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
  </ng-container>

  <ng-template #noArticles>
    <div class="no-content">
      <img src="assets/icon/empty-content.svg"/>
      <p>{{'FOUND.NOTHING' | translate}}</p>
      <p>{{'GO.AHEAD' | translate}}</p>
    </div>
  </ng-template>
</ion-content>
