ion-avatar {
  border: 1px solid #fff;
  background: var(--item-background);
  transition: all .3 ease-in-out;
  cursor: pointer;
  position: relative;
  outline: none;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}