<div class="options">
  <ion-list inset="true">
    <ion-item (click)="goTo('detail')" detail>
      <ion-icon slot="start" 
                color="primary" 
                name="telescope-outline">
      </ion-icon>
      <ion-label>{{'SEE' | translate}}</ion-label>
    </ion-item>
    <ion-item (click)="goTo('share')" detail>
      <ion-icon slot="start"
                color="tertiary"
                name="share-social-outline">
      </ion-icon>
      <ion-label>{{'SHARE' | translate}}</ion-label>
    </ion-item>
    <ion-item (click)="goTo('pdf')" *ngIf="!public" detail>
      <ion-icon slot="start"
                color="secondary"
                name="cloud-download-outline">
      </ion-icon>
      <ion-label>{{'DOWNLOAD' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</div>