<app-page-header></app-page-header>

<ion-content force-overscroll="false" class="ion-padding">
  <ng-container *ngIf="(content$ | async) as article">
    <markdown class="template"
              ngPreserveWhitespaces
              [data]="article.message">
    </markdown>
    <ion-fab vertical="bottom"  horizontal="end" slot="fixed">
      <ion-fab-button size="small" class="first">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="open('markdown')">
          <ion-icon name="code-slash-outline">
          </ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="open('edit')">
          <ion-icon name="color-wand-outline">
          </ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="update(article)">
          <ion-icon name="save-outline">
          </ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ng-container>
</ion-content>