<ion-content force-overscroll="false" class="ion-padding">
  <ng-container *ngIf="(content$ | async) as article">
    <app-single-content-header type="article" 
                               [content]="article">
    </app-single-content-header>
    <markdown class="template"
              ngPreserveWhitespaces
              [data]="article.message">
    </markdown>
    <ion-fab vertical="bottom" 
             horizontal="end" 
             slot="fixed"
             *ngIf="isPublic(article)">
      <ion-fab-button class="first">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button *ngIf="article.type === 'draft'" 
                        (click)="delete(article)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="article.type === 'article'" 
                        (click)="pdf(article)">
          <ion-icon name="cloud-download-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="open('edit')">
          <ion-icon name="color-wand-outline">
          </ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="update(article)">
          <ion-icon name="save-outline">
          </ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="open('markdown')">
          <ion-icon name="code-slash-outline">
          </ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ng-container>
</ion-content>