ion-toolbar {
 --background: var(--ion-color-primary);
}

ion-fab-button {
  --background: var(--ion-color-primary);
}

ion-fab-button:not(.first) {
  --background: var(--ion-color-fab);
}

ion-icon {
  font-size: 1.4rem;
  filter: contrast(1.5);
}
