.flex {
 display: flex;
 justify-content: center;
 align-items: center;

 &-column {
  flex-direction: column;
 }
}

ion-back-button {
  --color: white;
  --icon-padding-end: .8rem;
}

ion-item { 
  --highlight-color-invalid: transparent;
  --highlight-color-valid: transparent;
  --inner-padding-end: 0;
}