.flex {
 display: flex;
 justify-content: center;
 align-items: center;

 &-column {
  flex-direction: column;
 }
}

hr {
  background: var(--ion-header-background);
  margin-top: 15px;
  margin-bottom: 15px;
  height: 2px;
  border-radius: 5px;
}


