<ion-menu side="end" 
          type="reveal" 
          menuId="main" 
          contentId="main"
          (ionDidClose)="emit(false)"
          (ionDidOpen)="emit(true)">
  <ion-header mode="ios" class="ion-no-border">
    <ion-toolbar mode="md">
      <ion-title class="animated fadeInLeft">
                {{'MENU' | translate}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content force-overscroll="false">
    <ion-list inset="true"> 
      <ion-item *ngFor="let link of menuLink"
                (click)="open(link.route)"
                detail 
                lines="none">
        <ion-icon slot="start" [name]="link.icon"></ion-icon>
        <ion-label>{{link.title | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>