<ion-menu side="end" 
          type="reveal" 
          menuId="main" 
          contentId="main"
          (ionDidClose)="emit(false)"
          (ionDidOpen)="emit(true)">
  <ion-header mode="ios" class="ion-no-border">
    <ion-toolbar mode="md">
      <ion-title class="animated fadeInLeft">
                {{'MENU' | translate}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content force-overscroll="false">
    <ion-list inset="true" class="menu">
      <ng-container *ngIf="user$ | async">
        <ion-item *ngFor="let m of menu"
                  (click)="close()"
                  [routerLink]="m.route"
                  routerLinkActive="active"
                  detail 
                  lines="none">
          <ion-icon slot="start" [name]="m.icon"></ion-icon>
          <ion-label color="dark">{{m.title | translate}}</ion-label>
        </ion-item>
      </ng-container>
      <ion-item (click)="settings()"
                detail 
                lines="none">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>{{'SETTINGS' | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>