ion-item {
  --full-highlight-height: 0;
  --border-width: 0 !important;
}

ion-avatar {
  width: 25px;
  height: 25px;
  --border-radius: 2px;
}

.no-content {
  width: 100%;
  height: calc(100% - var(--ion-nav-height)); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;

  & img {
    max-height: 50%;
    max-width: 80%;
    margin: 0 auto 2rem;
  }

  & p { margin: 0}
}