<ion-list>
  <ion-list-header>
    {{'ADD.INDEX' | translate}}
    <ion-icon class="info" 
              (click)="openTooltip()"
              name="help-circle-outline"></ion-icon>
  </ion-list-header>
  <ion-chip color="success">
    {{'INDEX.USE' | translate}}
  </ion-chip>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>  <!-- TITLE -->
      <ion-label position="stacked">{{'INDEX.TITLE' | translate}}</ion-label>
      <ion-input clearInput 
                 type="text"
                 [maxlength]="35"
                 formControlName="title">
      </ion-input>
      <app-form-error [control]="title" 
                      [validator]="['minlength', 'required']">
      </app-form-error>
    </ion-item>
    <ion-item>  <!-- SUBTITLE -->
      <ion-label position="stacked">{{'INDEX.SUBTITLE' | translate}}</ion-label>
      <ion-input clearInput
                 formControlName="subtitle"
                 type="text">
      </ion-input>
      <app-form-error [control]="subtitle" 
                      [validator]="['minlength', 'required']">
      </app-form-error>
    </ion-item>
    <ion-button size="small"
                type="submit"
                strong
                [disabled]="form.invalid || !title.value || !subtitle.value">
      {{'INSERT.INDEX' | translate}}
    </ion-button>
    <ion-button size="small"
                (click)="delete()"
                color="danger"
                [disabled]="properties.index?.length === 0">
      {{'DELETE.INDEX' | translate}}
    </ion-button>
  </form>
</ion-list>

<ion-fab vertical="bottom" 
         horizontal="end" 
         slot="fixed"
         class="animated fadeInRight"
         *ngIf="properties.index?.length > 0">
  <ion-fab-button size="small" (click)="openIndex()"> 
    <ion-icon class="fab" name="list-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
