<ion-list>
  <ion-list-header>
    {{'ADD.INDEX' | translate}}
    <ion-icon class="info" 
              (click)="openTooltip()"
              name="help-circle-outline"></ion-icon>
  </ion-list-header>
  <ion-chip color="success">
    {{'INDEX.USE' | translate}}
  </ion-chip>
  <ion-item>
    <ion-label position="stacked">{{'INDEX.TITLE' | translate}}</ion-label>
    <ion-input clearInput 
               required
               #title
               type="text"
               maxlength="35"
               minlength="5"
               name="title">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{'INDEX.SUBTITLE' | translate}}</ion-label>
    <ion-input clearInput
               required
               #subtitle
               type="text"
               maxlength="35"
               minlength="5"
               name="subtitle">
    </ion-input>
  </ion-item>
  <ion-button size="small" 
              strong
              [disabled]="!title.value || !subtitle.value"
              (click)="addIndex(title, subtitle)">
    {{'INSERT.INDEX' | translate}}
  </ion-button>
</ion-list>

<ion-fab vertical="bottom" 
         horizontal="end" 
         slot="fixed"
         class="animated fadeInRight"
         *ngIf="index.length > 0">
  <ion-fab-button size="small" (click)="openIndex()"> 
    <ion-icon class="fab" name="list-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
