<app-page-header [title]="'EDIT.ARTICLE' | translate"
                 [href]="false"
                 [showMenu]="false">
</app-page-header>

<ion-content>
  <ng-container *ngIf="content$ | async as content">
    <div class="edit" *ngIf="draftForm">
      <app-form-title [draftForm]="draftForm" 
                      [content]="content"
                      [editable]="true">
      </app-form-title>
      <app-data-picker [draftForm]="draftForm"
                       [content]="content"
                       [editable]="true">
      </app-data-picker>
    </div>
  </ng-container>
</ion-content>

<ion-footer *ngIf="content$ | async as content">
  <ion-button expand="full" 
              [disabled]="!(dataValid$ | async) || 
                          !(titleValid$ | async)" 
              (click)="onSubmit(content)">{{'EDIT' | translate}}
  </ion-button>
</ion-footer>


