<app-page-header [title]="'LINKS.PREVIEW' | translate"
                 [href]="false"
                 [showMenu]="false">
</app-page-header>

<ion-content force-overscroll="false">
  <ng-container *ngIf="links">
    <div class="content">
      <ion-chip color="success">
        {{'CHECK.LINKS' | translate}}
      </ion-chip>
    </div>
    <ion-list inset="true">
      <ion-item *ngFor="let l of links" 
                [href]="l.url" 
                target="_blank">
        <ion-icon name="link-outline" slot="start"></ion-icon>
        <ion-label>{{l.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>