<ng-container *ngIf="(user$ | async) as user">
  <app-user-header [user]="user" 
                   [public]="true"
                   [showBack]="false">
  </app-user-header>

  <ion-content force-overscroll="false">
    <app-profile-user [user]="user"></app-profile-user>
  </ion-content>

  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <app-profile-footer [user]="user"
                          [public]="true"
                          [count]="friendsCount$ | async">
      </app-profile-footer>
    </ion-toolbar>
  </ion-footer>
</ng-container>