<ion-list>
  <ion-list-header>
    <ng-container *ngIf="!editable; else editT">
      {{'ADD.TITLE' | translate}}
    </ng-container>
    <ng-template #editT>{{'TITLE.EDIT' | translate}}</ng-template>
  </ion-list-header>
  <ion-item>  <!-- TITLE -->
    <ion-label position="stacked">{{'TITLE' | translate}}</ion-label>
    <ion-input clearInput 
               type="text"
               [maxlength]="35"
               [minlength]="10"
               [ngrxFormControlState]="title">
    </ion-input>
    <app-ngrx-form-error [control]="title"></app-ngrx-form-error>
  </ion-item>
</ion-list>

<ion-chip color="success" *ngIf="!editable">
  {{'CHOOSE.TITLE' | translate}}
</ion-chip>

<ion-list class="summary">
  <ion-list-header>
    <ng-container *ngIf="!editable; else editS">
      {{'ADD.SUMMARY' | translate}}
    </ng-container>
    <ng-template #editS>{{'SUMMARY.EDIT' | translate}}</ng-template> 
  </ion-list-header>
  <ion-item>  <!-- SUMMARY -->
    <ion-label position="stacked">{{'SUMMARY' | translate}}</ion-label>
    <app-ngrx-form-error [control]="summary" position="top"></app-ngrx-form-error>
    <ion-textarea inputmode="text"
                  type="text"
                  rows="8"
                  [ngrxFormControlState]="summary"
                  [maxlength]="600"
                  [minlength]="100">
    </ion-textarea>
  </ion-item>
</ion-list>

<ion-chip color="success" *ngIf="!editable">
  <ion-icon slot="start" name="information-circle-outline"></ion-icon>
  {{'CHOOSE.SUMMARY' | translate}}
</ion-chip>

