<div class="category-content">
  <ion-list>
    <ion-list-header>{{'CHOOSE.CATEGORY' | translate}}</ion-list-header>
  </ion-list>
  <ion-slides [options]="sliderOpts">
      <ion-slide *ngFor="let cat of avatars; let i = index">
          <img class="pick-category"
                  [src]="cat.image"
                  [ngClass]="{'pick-category-selected' : cat.selected}"
                  (click)="pick(cat, i)"/>
      </ion-slide>
  </ion-slides>
  <div class="cat-description animated">  <!-- ANIMATED -->
    <ng-container *ngIf="selected; else noSelected">
      <h4>{{selected.name}}</h4>
      <p [innerHTML]="selected.message | translate"></p>
    </ng-container>
    <ng-template #noSelected>
      <h4>{{'PICK.CATEGORY' | translate}}</h4>
      <p [innerHTML]="'CHOOSE.WELL' | translate"></p>
    </ng-template>
  </div>
  <div class="items">
    <ion-item>  <!-- ITEMS -->
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>{{'ARTICLES' | translate}}</ion-label>
      <ion-badge color="secondary" slot="end">
        <ng-container *ngIf="!selected; else isSelected">
          {{foo[1] || 0}}
        </ng-container>
        <ng-template #isSelected>
          {{foo[2][selected.name] ? foo[2][selected.name] : 0}}
        </ng-template>
      </ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="heart-outline"></ion-icon>
      <ion-label>{{'LIKES' | translate}}</ion-label>
      <ion-badge color="tertiary" slot="end">
        <ng-container *ngIf="!selected; else isLiked">
          {{foo[3] || 0}}
        </ng-container>
        <ng-template #isLiked>
          {{foo[0][selected.index].likes || 0}}
        </ng-template>
      </ion-badge>
    </ion-item>
  </div>
</div>


