<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'MARKDOWN' | translate}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <ng-container *ngIf="(content$ | async) as draft">
    <ion-textarea [(ngModel)]="draft.message"
                  [placeholder]="'write.here' | translate"
                  class="full">
    </ion-textarea>
  </ng-container>
</ion-content>
