<ion-header mode="ios" class="ion-no-border">
  <div class="add">
    <ion-icon name="star"></ion-icon>
    <ion-label>{{user.stats?.score.total || 0}}</ion-label>
  </div>
  <div class="user-buttons">
    <ion-button fill="clear" 
                class="mail"
                (click)="mail()">
      <ion-icon name="mail"></ion-icon>
    </ion-button>
    <ion-button fill="clear" 
                class="like"
                (click)="stats()">
      <ion-icon [name]="public ? 'person-add' : 'star'"></ion-icon>
    </ion-button>
  </div>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon *ngIf="menuSrv.isOpen$ | async; else closed" 
                   class="menu" src="assets/icon/arrow-right-solid.svg">
        </ion-icon>
        <ng-template #closed>
          <ion-icon class="menu" src="assets/icon/menu.svg">
          </ion-icon>
        </ng-template>
      </ion-button>
    </ion-buttons>
    <div class="header" *ngIf="user">
      <img *ngIf="user.profile?.avatar; else noImage"
           [src]="user.profile.avatar" 
           [ngClass]="themeSrv.isDark() ? 'dark' : 'light'"
           (error)="img.src = 'assets/icon/no-avatar.png'; img.alt='No Image'"/>
      <ng-template #noImage>
        <img src="assets/icon/no-avatar.png"/>
      </ng-template>
      <h3>{{user.name}}</h3>
      <p *ngIf="user.profile?.rol">{{user.profile?.rol | translate}}</p>
    </div>
  </ion-toolbar>
</ion-header>
