:root {
  --ion-color-primary: #ee7da8;
  --ion-color-primary-rgb: 238, 125, 168;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #d16e94;
  --ion-color-primary-tint: #f08ab1;
  --ion-color-primary-transparent: rgba(238, 125, 168, .8);

  --ion-color-secondary: #9b63f8;
  --ion-color-secondary-rgb: 155, 99, 248;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #8857da;
  --ion-color-secondary-tint: #a573f9;

  --ion-color-tertiary: #7e9ffc;
  --ion-color-tertiary-rgb: 126, 159, 252;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #6f8cde;
  --ion-color-tertiary-tint: #8ba9fc;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  --ion-color-dark-transparent: rgba(146, 148, 156, 1);

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255,255,255;
  --ion-item-padding: .5rem;
  
  --ion-color-fab: rgba(100, 100, 100, .9);
  --ion-color-link: rgba(187, 239, 253, 0.3);
  --ion-header-background: radial-gradient(circle farthest-corner at -10.7% 80.6%,#ee7da8 -5%,#9b63f8 49.3%,#7e9ffc 89%);
  --ion-header-background-invert: radial-gradient(circle farthest-corner at -10.7% 80.6%,#7e9ffc -5%,#9b63f8 49.3%,#ee7da8 89%);
  --ion-primary-gradient: linear-gradient(156deg, #ffbbec 0%, #f9a0c2 50%, #ee7da8 100%);
  --ion-secondary-gradient: linear-gradient(156deg, #c7a4ff 0%, #b080fd 50%, #9b63f8 100%);
  --ion-tertiary-gradient: linear-gradient(156deg, #b4c8ff 0%, #9ab5ff 50%, #7e9ffc 100%);
  --ion-dual-gradient: radial-gradient(circle farthest-corner at -10.7% 80.6%, #7e9ffc 49.3%,#9b63f8 89%);
  --ion-nav-height: 60px;
  --ion-active-color: rgba(135, 228, 255, .8);
  --ion-active-gradient: linear-gradient(156deg, rgb(176, 228, 243) 0%, rgb(154, 232, 253) 50%, rgb(135, 228, 255) 100%);
  --menu-width: 290px;
  --item-background: rgba(231, 231, 231, 0.5);
  --ion-color-category: rgba(231, 231, 231, .9);

  // FONTS
  --primary-font-size: 16px;
  --ion-text-color: #48494e;
  --ion-text-color-rgb: rgb(72, 73, 78);
  --ion-fancy-font: 'Fredoka One';
  --ion-font-family: 'Montserrat' !important;
    font-family: 'Montserrat' !important;
}

 body.dark {
  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;
  --ion-color-dark-transparent: rgba(180, 191, 202, .8);

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34,36,40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-color-fab: rgba(160, 160, 160, .9);
  --ion-color-link: rgba(252, 252, 252, 0.7);
}

.ios body.dark {
  --ion-background-color: #222428;
  --ion-background-color-rgb: 34,36,40;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;
  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;
  --ion-toolbar-background: #222428;
  --ion-item-background: #222428;
}

.md body.dark {
  --ion-background-color: #222428;
  --ion-background-color-rgb: 34,36,40;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;
  --ion-border-color: #222222;
  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;
  --ion-item-background: #222428;
  --ion-toolbar-background: #222428;
  --ion-tab-bar-background: #222428;
}