img {
  max-height: 50%;
  max-width: 50%;
  margin: 0 auto 1.2rem;
  position: relative;
  left: 2px;
}

ion-slide {
  height: 100%;
  flex-direction: column;
  position: relative;
  top: 8px;
}

h2 {
  font-size: 1.8rem;
}

p { margin-top: 0 }

ion-chip {
  height: auto;
  margin: .5rem 0;
  font-size: 0.8rem;
  line-height: inherit;
  max-width: 320px;
}

ion-content {
  --padding-top: 162px !important;
}