ion-content { 
  min-height: 100%;
  position: relative;
}

.arrows-content {
  right: 1.6rem;
  opacity: .3;
}

.help {
  position: fixed;
  top: 1.4rem;
  right: 1.4rem;
  font-size: 1.4rem;
}

ion-button { 
  margin: 35px auto 25px;
  width: 98%;
  --background: var(--ion-header-background-invert);
  color: #fff;
}

ion-list { 
  min-width: 250px;
  margin-bottom: 2rem;
}

ion-item { 
  --highlight-color-invalid: transparent;
  --padding-end: 10px;
  --padding-start: 10px;
}

.checkbox {
  --padding-end: 10px;
  --padding-start: 10px;
  margin-top: .4rem;
}

.md .checkbox { --padding-end: 0; }
.ios .checkbox { --padding-end: 10px; }

.flex { min-height: 100% }
span { color: var(--ion-color-primary-tint) }
a { text-decoration: none }

p {
  margin-top: .8rem;
  margin-bottom: 30px;
  font-size: .8rem !important;
  text-align: center;
  color: var(--ion-color-dark-transparent);
}

ion-input {
 --padding-bottom: 0;
 font-size: .95rem;
}

ion-checkbox, .remember {
 position: relative;
 top: 13px;
 font-size: .9rem;
}

.content { 
  width: 85%;
  max-width: 350px;
}

ion-checkbox { margin: 0 }

h1 {
 margin: 5px auto 1.1rem;
 font-size: 2em;
 background: var(--ion-header-background);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 & span { 
   color: var(--ion-color-dark);
   font-size: inherit !important;
  }
}

h3 { 
  margin-bottom: 0;
  margin-top: 30px;
}

.here {
  font-size: .8rem !important;
}

.arrows { z-index: 100 }

.arrow-content-right {
  right: 24px;
  top: 48px;

  &.is-open {
    right: 19px;
  }
}

.arrow-right-light { 
  animation-name: bounceAlphaInvert;
  background-image: url(../../../assets/img/arrow-left-light.svg);
}

.arrow-left-light { 
  animation-name: bounceAlpha;
  background-image: url(../../../assets/img/arrow-right-light.svg);
}

.arrow-right-dark { 
  animation-name: bounceAlphaInvert;
  background-image: url(../../../assets/img/arrow-left-dark.svg);
}

.arrow-left-dark { 
  animation-name: bounceAlpha;
  background-image: url(../../../assets/img/arrow-right-dark.svg);
}


