<app-page-header [title]="'CONFIG'" 
                 [showButtons]="false"
                 [href]="false">
</app-page-header>

<ion-content force-overscroll="false">
  <ion-list inset="true">
    <ion-item> <!-- THEME -->
      <ion-icon name="color-palette-outline" slot="start"></ion-icon>
      <ion-label>{{'THEME' | translate}}</ion-label>
      <ion-select [(ngModel)]="theme" 
                  (ngModelChange)="themeChanged($event)">
        <ion-select-option [value]="t" 
                            *ngFor="let t of ['light', 'dark']">{{t | titlecase}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item> <!-- LANGUAGE -->
      <ion-icon name="language-outline" slot="start"></ion-icon>
      <ion-label>{{'LANGUAGE' | translate}}</ion-label>
      <ion-select [(ngModel)]="language"
                  (ngModelChange)="languageChanged($event)">
        <ion-select-option [value]="l.value" 
                            *ngFor="let l of lang">{{l.name | translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item> <!-- REMEMBER -->
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>{{'RE.EMAIL' | translate}}</ion-label>
      <ion-toggle mode="md"
                  color="secondary"
                  [(ngModel)]="remember"
                  (ngModelChange)="rememberChanged($event)">
      </ion-toggle>
    </ion-item>

    <hr>
    
    <ion-item detail (click)="logout()"> <!-- LOG OUT -->
      <ion-icon name="exit-outline" slot="start"></ion-icon>
      <ion-label color="primary">{{'LOGOUT' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>