<app-page-header [title]="'CONFIG'" 
                 [showButtons]="false"
                 [showMenu]="false"
                 [href]="false">
</app-page-header>

<ion-content force-overscroll="false">
  <ion-list inset="true">
    <ion-item-divider mode="ios">  <!-- APPLICATION -->
      <ion-label>
        {{'APP' | translate}}
      </ion-label>
    </ion-item-divider>
    <ion-item> <!-- THEME -->
      <ion-icon name="color-palette-outline" 
                slot="start"
                color="primary">
      </ion-icon>
      <ion-label>{{'THEME' | translate}}</ion-label>
      <ion-select [(ngModel)]="theme" 
                  (ngModelChange)="change('theme', $event)">
        <ion-select-option [value]="t" 
                            *ngFor="let t of ['light', 'dark']">{{t.toUpperCase() | translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item> <!-- LANGUAGE -->
      <ion-icon name="language-outline" 
               slot="start"
               color="secondary">
      </ion-icon>
      <ion-label>{{'LANGUAGE' | translate}}</ion-label>
      <ion-select [(ngModel)]="language"
                  (ngModelChange)="change('lang', $event)">
        <ion-select-option [value]="l.value" 
                            *ngFor="let l of lang">{{l.name | translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item> <!-- AUTO LOGIN -->
      <ion-icon name="enter-outline" 
                slot="start"
                color="orange">
      </ion-icon>
      <ion-label>{{'AUTO.LOGIN' | translate}}</ion-label>
      <ion-toggle mode="md"
                  color="secondary"
                  [(ngModel)]="login"
                  (ngModelChange)="change('autoLogin', $event)">
      </ion-toggle>
    </ion-item>
    <ion-item-divider mode="ios">  <!-- MY ACCOUNT -->
      <ion-label>
        {{'MY.ACCOUNT' | translate}}
      </ion-label>
    </ion-item-divider>
    <ion-item> <!-- REMEMBER -->
      <ion-icon name="mail-outline" 
                slot="start"
                color="tertiary">
      </ion-icon>
      <ion-label>{{'RE.EMAIL' | translate}}</ion-label>
      <ion-toggle mode="md"
                  color="secondary"
                  [(ngModel)]="remember"
                  (ngModelChange)="change('remember', $event)">
      </ion-toggle>
    </ion-item>
    <ion-item-divider mode="ios"> <!-- TUTORIALS -->
      <ion-label>
        {{'SHOW.TUTORIALS' | translate}}
      </ion-label>
    </ion-item-divider>
    <ion-item> <!-- INTRO -->
      <ion-icon name="layers-outline" 
                slot="start"
                color="success">
      </ion-icon>
      <ion-label>{{'INTRO' | translate}}</ion-label>
      <ion-toggle mode="md"
                  color="secondary"
                  [(ngModel)]="intro"
                  (ngModelChange)="change('introTutorial', $event)">
      </ion-toggle>
    </ion-item>
    <ion-item> <!-- CREATE -->
      <ion-icon name="layers-outline" 
                slot="start"
                color="warning">
      </ion-icon>
      <ion-label>{{'CREATE.ARTICLE' | translate}}</ion-label>
      <ion-toggle mode="md"
                  color="secondary"
                  [(ngModel)]="create"
                  (ngModelChange)="change('createTutorial', $event)">
      </ion-toggle>
    </ion-item>
    <ng-container *ngIf="user">
      <hr>
      <ion-item detail 
                (click)="logout()"> <!-- LOG OUT -->
        <ion-icon name="exit-outline" 
                  slot="start"
                  color="danger">
        </ion-icon>
        <ion-label>{{'LOGOUT' | translate}}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>