<ion-card>
  <ion-img [src]="article.cover" 
           class="cover"
           [routerLink]="'/detail/' + article.slug"></ion-img>
  <div class="category"
       [ngClass]="{
         'primary': index === 0 || index % 3 === 0,
         'secondary': index % 3 === 1,
         'tertiary': index % 3 === 2
       }">
    <ion-img [src]="(dark && article.category === 'Deno' ? 
                 article.category + '-dark' : article.category) | logo"></ion-img>
  </div>
  <ion-card-content>
    <ion-list inset="true">
      <ion-item class="first">
        <ion-label [routerLink]="'/detail/' + article.slug">{{article.title}}</ion-label>
        <ion-button slot="end" fill="clear" (click)="options($event)">
          <ion-icon name="ellipsis-vertical-outline"
                    color="secondary">
          </ion-icon>
        </ion-button>
      </ion-item>
      <div class="summary">
        <markdown [data]="article.summary"></markdown>
      </div>
    </ion-list>
  </ion-card-content>
</ion-card>
