ion-toolbar {
  --background: var(--ion-header-background);
  --min-height: var(--ion-nav-height);
}

ion-button, ion-menu-button {
  color: #fff;
  margin-right: .5rem;
  margin-left: .5rem;
  --border-radius: 50% !important;
}

ion-title {
  --color: #fff;
  font-size: 1.1rem;
  font-family: var(--ion-fancy-font);
  text-shadow: 5px 6px 5px rgba(0, 0, 0, .1);
}

ion-icon {
  font-size: 1.3rem;
}

.menu { font-size: 1.1rem }

.padding {
  padding-left: 2px;
}

.active {
  &::after {
    content: '';
    transition: opacity .3s ease-in-out;
    animation: fadeIn .3s both;
    position: absolute;
    display: block;
    bottom: -1px;
    width: 36px;
    margin: 0 auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 3px;
    filter: saturate(7);
    box-shadow: 0px -5px 100px 45px rgba(219, 219, 219, 0.7);
    background-color: var(--ion-active-color);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
