ion-card {
  border: 2px dashed rgb(196, 196, 196);
  border-radius: 10px;
  height: 100%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: border .3s ease-in;
  background-position: center center;
  background-size: cover;

  &.photo {
    border: none;
    box-shadow: 0px 0px 0px 2px var(--ion-active-color);  
  }
}

.card-container {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  max-width: 550px;
  margin: .8rem auto 2.8rem auto;
}

ion-icon {
  font-size: 3rem;
  margin-bottom: .666rem;
  width: 100%;
}

ion-text {
  display: flex;
  justify-content: center;
}
 
.max {
  width: 100%;
  text-align: right;
  font-size: .8rem;
  color: var(--ion-color-text);
  margin: 8px 6px 0 auto;
}