<ion-slides [options]="slideOpts"
            #slider
            (ionSlidesDidLoad)="didLoad()" *ngIf="slides; else loading">
  <ion-slide *ngFor="let friend of slides; let i = index" 
             (click)="pick(friend,i)">
    <ion-avatar [ngClass]="{'active': friend.selected}"
                *ngIf="friend">
      <span *ngIf="friend.online"></span>
      <img *ngIf="friend.user.profile?.avatar; else noImage"
           [src]="friend.user.profile.avatar"
           #img
           [ngClass]="themeSrv.isDark() ? 'dark' : 'light'"
           (error)="img.src = 'assets/icon/no-avatar.png'; img.alt='No Image'"/>
      <ng-template #noImage>
        <img [ngClass]="themeSrv.isDark() ? 'dark' : 'light'"
             src="assets/icon/no-avatar.png"/>
      </ng-template>
    </ion-avatar>
    <p [ngClass]="{'active': friend.selected}">
      {{friend.user.name | titlecase}}
    </p>
  </ion-slide>
  <ion-slide *ngIf="slides?.length <= 3">
    <ion-avatar class="animated fadeIn active"
                [routerLink]="'/mail/search'">
      <ion-icon name="add-outline"></ion-icon>
    </ion-avatar>
    <p class="active">{{'ADD.MORE' | translate}}</p>
  </ion-slide>
</ion-slides>

<ng-template #loading>
  <div class="spinner">
    <ion-spinner color="light"></ion-spinner>
  </div>
</ng-template>
