.profile {
  margin-top: 2rem;
}

ion-grid, ion-row, ion-col { padding: 0 }

ion-card {
  align-items: center;
  font-size: .8rem;
  margin: 1rem;

  & p {
    font-size: 0.8rem !important;
    margin: .5rem 0 0 0;
    padding-right: 5px;
  }

  & .icon {
    text-align: center;
  }

  .info {
    position: relative;
    padding: 1rem;

    & ion-label { 
      font-weight: bold;
      font-size: 1rem !important;
      margin-right: 0 !important;
      outline: none;
      color: var(--ion-text-color);
    }

    &-icons {
      position: relative;
      display: flex;
      margin-top: .4rem;
      top: 3px;
      padding: 3px 0;
      
      & ion-button {
        text-transform: none;
        margin: 0 .3rem 0 0;
        height: 32px;
        font-size: .7rem;
        --background: rgba(173, 173, 173, 0.103);
        --background-activated: rgba(138, 138, 138, 0.103);
        --background-hover: rgba(138, 138, 138, 0.103);
        --color: var(--ion-text-color);

        &.portfolio {
          color: var(--primary-color);
        }

        @media(min-width: 375px) {
          margin: 0 .8rem 0 0;
        }
      }
      
      & img {
        width: 21px;
        height: 21px;
        margin-right: 5px;
      }

      & ion-icon {
        font-size: 1.2rem;
        position: relative;
        color: rgba(86, 86, 86, 0.6);
        left: -5px;
      }
    }
  }
}