img {
  max-height: 50%;
  max-width: 70%;
  margin: 0 auto;
  position: relative;
  left: 2px;
}

.animated {
  margin-top: 35px;  // Slide Footer
}

ion-button {
  max-width: 50%;
  margin: .3rem auto .5rem auto;
  display: block;
  
  & span {
    color: #fff !important;
    font-size: 13px;
  }
}

h2 {
  margin-top: .5rem;
  margin-bottom: .2rem;
}

p { 
  margin-top: 0;
  margin-bottom: 2.5rem;
  opacity: .7;
}