ion-button {
  margin-top: 2rem;
  color: #fff;
  --background: var(--ion-header-background-invert);
}

ion-item {
  margin-top: 2rem;
  --inner-border-width: 0 !important;
}

ion-checkbox {
  --checkmark-color: #fff;
  --checkmark-width: 3px;
  --background-checked: var(--ion-color-tertiary);
  margin-right: 12px;
}

ion-label {
  font-size: .75rem !important;
}

img {
  max-height: 50%;
  max-width: 70%;
  margin: 0 auto 1.2rem;
}

ion-text {
  font-size: .9rem;
  padding: 0 1.2rem;
  text-decoration-color: none;
}

ion-slides {
  height: 100%;
  padding: 0 20px;
  position: inherit;
}

ion-slide {
  height: auto;
  min-height: 100%;
  position: relative;
  top: -26px;
  flex-direction: column;
  align-items: center;
}
