<ion-list>
  <ion-list-header>
    {{'ADD.LINKS' | translate}}
    <ion-icon class="info" 
              (click)="openTooltip()"
              name="help-circle-outline"></ion-icon>
  </ion-list-header>
  <ion-chip color="success">
    {{'LINKS.USE' | translate}}
  </ion-chip>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>  <!-- TITLE -->
      <ion-label position="stacked">{{'LINK.TITLE' | translate}}</ion-label>
      <ion-input clearInput 
                 type="text"
                 [maxlength]="35"
                 formControlName="name">
      </ion-input>
      <app-form-error [control]="name" 
                      [validator]="['minlength', 'required']">
      </app-form-error>
    </ion-item>
    <ion-item>  <!-- URL -->
      <ion-label position="stacked">{{'LINK.URL' | translate}}</ion-label>
      <ion-input clearInput
                 type="text"
                 formControlName="url">
      </ion-input>
      <app-form-error [control]="url" 
                      [validator]="['minlength', 'required', 'pattern']">
      </app-form-error>
    </ion-item>
    <ion-button size="small"
                type="submit"
                strong
                [disabled]="form.invalid || !name.value || !url.value">
      {{'INSERT.LINK' | translate}}
    </ion-button>
    <ion-button size="small"
                (click)="delete()"
                color="danger"
                [disabled]="properties.links?.length === 0">
      {{'DELETE.LINKS' | translate}}
    </ion-button>
  </form>
</ion-list>

<ion-fab vertical="bottom" 
         horizontal="end" 
         slot="fixed"
         class="animated fadeInRight"
         *ngIf="properties.links?.length > 0">
  <ion-fab-button size="small" (click)="openLinks()"> 
    <ion-icon class="fab" name="link-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
