<ion-list>
  <ion-list-header>
    {{'ADD.LINKS' | translate}}
    <ion-icon class="info" 
              (click)="openTooltip()"
              name="help-circle-outline"></ion-icon>
  </ion-list-header>
  <ion-chip color="success">
    {{'LINKS.USE' | translate}}
  </ion-chip>
  <ion-item>
    <ion-label position="stacked">{{'LINK.TITLE' | translate}}</ion-label>
    <ion-input clearInput 
               required
               #title
               type="text"
               maxlength="35"
               minlength="5"
               name="title">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{'LINK.URL' | translate}}</ion-label>
    <ion-input clearInput
               required
               #url
               type="text"
               maxlength="35"
               minlength="5"
               name="subtitle">
    </ion-input>
  </ion-item>
  <ion-button size="small" 
              strong
              [disabled]="!title.value || !url.value"
              (click)="addLink(title, url)">
    {{'INSERT.LINK' | translate}}
  </ion-button>
</ion-list>

<ion-fab vertical="bottom" 
         horizontal="end" 
         slot="fixed"
         class="animated fadeInRight"
         *ngIf="links.length > 0">
  <ion-fab-button size="small" (click)="openLinks()"> 
    <ion-icon class="fab" name="link-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
