<ion-list>
  <ion-list-header>
    {{'ADD.MESSAGE' | translate}}
    <ion-icon class="info" 
              (click)="openTooltip()"
              name="help-circle-outline"></ion-icon>
  </ion-list-header>
  <ion-textarea [(ngModel)]="message"
                class="message"
                [placeholder]="'WRITE.HERE' | translate">
  </ion-textarea>
</ion-list>

<ion-fab vertical="bottom" 
         horizontal="end" 
         slot="fixed"
         class="animated fadeInRight">
  <ion-fab-button size="small" (click)="preview()"> 
    <ion-icon class="fab" name="reader-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
